<p class="sa-search-category-preview__secondary-text">
  <span class="sa-search-category-preview__metadata sa-search-category-preview__metadata--date-offset">{{moment-from-now model.dueDate}}</span><span class="sa-search-category-preview__metadata">{{model.title}} ({{model.class}})</span>
</p>
<p class="sa-search-category-preview__terinary-text">{{model.description}}</p>
{{yield}}
