<p class="sa-search-category-preview__secondary-text">
  <span class="sa-search-category-preview__metadata">{{model.grade}}%</span><span class="sa-search-category-preview__metadata">({{model.pointsEarned}}/{{model.pointsTotal}})</span><span class="sa-search-category-preview__metadata">{{model.assignmentTitle}} ({{model.class}})</span>
</p>
<p class="sa-search-category-preview__terinary-text">
  <span class="sa-search-category-preview__metadata">Avg: {{model.gradeAverage}}%</span><span class="sa-search-category-preview__metadata">Change: {{model.overallGradeChange}}%</span>
</p>
{{yield}}
