<div class="sa-search-category" {{action "toggleExpand"}}>
  <h2 class="sa-search-category__title"><b>{{category.items.length}}</b> {{category.title}}</h2>
  <p class="sa-search-category__secondary-text"><span class="sa-search-category__metadata sa-search-category__metadata--date-offset">{{category.items.0.dueDate}}</span><span class="sa-search-category__metadata">{{category.items.0.title}} ({{category.items.0.class}})</span></p>
</div>
<div class="sa-search-category__items {{if isCollapsed 'sa-search-category__items--collapsed'}}">
  {{#each category.items as |item|}}
    {{component item.componentName model=item}}
  {{/each}}
</div>
{{yield}}
