<div class="sa-assignment">
  <h1 class="sa-assignment__title">{{model.title}}</h1>
  <p class="sa-assignment__metadatas">
    <span class="sa-assignment__metadata">{{model.dueDate}}</span>
  </p>
  <p class="sa-assignment__description">{{model.description}}</p>
  <ul class="sa-tags list-unstyled list-inline clearfix">
    {{#each model.tags as |tag| }}
    <li class="sa-tags__item">
      <div class="sa-tag">
        {{tag.name}}
      </div>
    </li>
    {{/each}}
  </ul>
  <section>
    <h2>Activities (3)</h2>
    <div class="sa-activity-headers">
      <div class="sa-activity-headers__header sa-activity-headers__header--status">
        Status
      </div>
      <div class="sa-activity-headers__header sa-activity-headers__header--grade-received">
        Grade
      </div>
      <div class="sa-activity-headers__header sa-activity-headers__header--grade-possible">
        Pts
      </div>
      <div class="sa-activity-headers__header sa-activity-headers__header--grade-average">
        Avg
      </div>
    </div>
    {{#each model.activities as |activity|}}
      <div class="sa-activity">
        <div class="sa-activity__data">
          <h3 class="sa-activity__title">{{activity.title}}</h3>
          <p class="sa-activity__description">{{activity.description}}</p>
          <div class="sa-materials">
            {{#each activity.materials as |material| }}
              {{material.type}}
            {{/each}}
          </div>
        </div>
        <div class="sa-activity__grade sa-activity__status">
          <i class="ms-Icon--circleFill"></i> Not Started
        </div>
        <div class="sa-activity__grade sa-activity__grade-received">
          43
        </div>
        <div class="sa-activity__grade sa-activity__grade-possible">
          50
        </div>
        <div class="sa-activity__grade sa-activity__grade-average">
          38
        </div>
      </div>
    {{/each}}
    <div class="sa-activity-footers">
      <div class="sa-activity-footers__footer sa-activity-footers__footer--totals">
        Totals:
      </div>
      <div class="sa-activity-footers__footer sa-activity-footers__footer--status">
        <i class="ms-Icon--circleFill"></i> Incomplete
      </div>
      <div class="sa-activity-footers__footer sa-activity-footers__footer--grade-received">
        87
      </div>
      <div class="sa-activity-footers__footer sa-activity-footers__footer--grade-possible">
        100
      </div>
      <div class="sa-activity-footers__footer sa-activity-footers__footer--grade-average">
        79
      </div>
    </div>
  </section>
  <section>
    <h2>History</h2>
    <table class="sa-events">
      <tr class="sa-event">
        <th class="sa-event__header sa-event__date">Date</th>
        <th class="sa-event__header sa-event__title">Event</th>
      </tr>
      {{#each model.events as |event|}}
      <tr class="sa-event">
        <td class="sa-event__date">{{event.date}}</td>
        <td class="sa-event__title">{{event.title}}</td>
      </tr>
      {{/each}}
    </table>
  </section>
</div>
