<div class="sa-search-category" {{action "toggleExpand"}}>
  <h2 class="sa-search-category__title"><b>{{category.items.length}}</b> {{category.title}}</h2>
  <div class="sa-search-category__preview">
    <div class="sa-search-category__preview-toggle">
      <i class="ms-Icon--caretRight ms-Icon--animate {{unless isCollapsed 'ms-Icon--rotate45'}}" />
    </div>
    <div class="sa-search-category__preview-container">
      {{component category.items.0.categoryPreviewComponentName model=category.items.firstObject}}
    </div>
  </div>
</div>
<div class="sa-search-category__items {{if isCollapsed 'sa-search-category__items--collapsed'}}">
  {{#each category.items as |item|}}
    {{component item.searchComponentName model=item}}
  {{/each}}
</div>
{{yield}}
